:host {
   width: 100%;
   height: 64px;

   mat-toolbar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
   }

   .toolbar-spacer {
      width: 100%;
      height: 64px;
   }
}
